body {
  background-color: #dfdfdf; }

@media screen and (max-width: 768px) {
  #categories {
    visibility: hidden; } }

@media screen and (min-width: 768px) {
  #categories {
    visibility: visible; } }
