@import 'mixins';

$bgcolor:#eee - 50;
$contentbg: $bgcolor + 30;
$jbcolor: $bgcolor - 15;

body {
	background-color: $bgcolor ;
	padding-bottom: 60px;
	padding-top: 80px;

	
}

.jumbotron, .panel{
	background-color: $contentbg;
}

.footer{
	background-color: $contentbg + 200;
}

.body-meat{
	padding-top: 15px;
}

#categories{
	padding-top: 15px;


}


@media screen and (max-width: 768px){

	#categories{
		visibility: hidden;
		max-height: 0;
	}
	
	
}

@media screen and (min-width: 768px){

	#categories{
		visibility: visible;
		max-height: 100%;
	}


	
}